% vim:syn=erlang
{sub_dirs, [
    "apps/mants",
    "rel"
    ]}.
{deps_dir, ["deps"]}.
{deps, [
     {lager,  ".*", {git, "git://github.com/360degrees/lager", {branch, "master"}}},
     {jiffy, ".*", {git, "git://github.com/360degrees/jiffy.git", "master"}},
     {cowboy, ".*", {git, "git@github.com:extend/cowboy.git", {branch, "master"}}}
]}.

%% Erlang compiler options
{erl_opts, [
    {parse_transform, lager_transform}
]}.
